body {
  background-color:#DCE2D9;
  padding: 5mm;
  margin: 10mm;
}
.vacationCard {
  background-color:#D9AEAB;
  padding: 5mm;
  margin: 10mm;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
